html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2vh 2vw;
  text-align: center;
}
span.skewed {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 10vw;
  font-weight: 900;
  line-height: 0.9;
  transition: ease-out 0.6s;
  transform: skew(0deg, -5deg);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add this line */
}
span.async-title {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 6vw;
  font-weight: 900;
  line-height: 0.9;
  transition: ease-out 0.6s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add this line */
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.button-container {
  display: inline-block; /* Allow the container to scale with its content */

  margin: 10vh auto;
  padding: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); /* Set background with transparency */
  border: 2px solid #333;
  border-radius: 8px;
  z-index: 1; /* Add this */
  max-width: 90vw;
  position: relative; /* Add this */
}
.content {
  margin: 1vh 1vw;
}

.async-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  padding: 15px 30px; /* Increase padding to make it bigger */
  border: 2px solid white; /* Add this line */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.async-button:hover {
  background-color: #0056b3;
}

.content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
}
span.info {
  font-size: 1rem;
  font-weight: 500;
}

.editorial {
  z-index: 100;
  opacity: 0.8;
}
.loading-waves > use {
  animation: move-forever 12s linear infinite;
  &:nth-child(1) {
    animation-delay: -3s;
  }
  &:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 2s;
  }
  &:nth-child(3) {
    animation-delay: -6s;
    animation-duration: 3s;
  }
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
.container {
  margin: 10vh auto;
  padding: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); /* Set background with transparency */
  border: 2px solid #333;
  border-radius: 8px;
  z-index: 1; /* Add this */
  width: 90vw;
  position: relative; /* Add this */
}

.line {
  margin: 20px 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the gap between text and button as needed */
}

.async-button {
  background-color: #007bff;
  border: 2px solid white; /* Add this line */
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.async-button:hover {
  background-color: #0056b3;
}
.container button {
  margin: 5px;
}

.info {
  font-size: 12px;
  color: #555;
}

.back-button {
  position: fixed; /* Change from absolute to fixed */
  top: 20px; /* Adjust the top position */
  left: 20px; /* Adjust the left position */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px; /* Increase padding to make it bigger */
  font-size: 18px; /* Increase font size */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 2px solid white; /* Add this line */
}

.back-button:hover {
  background-color: #0056b3;
}

.inline-elements {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow elements to wrap */
  gap: 5px; /* Adjust the gap between elements as needed */
}
.wrap {
  width: 96vw;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.color-gradient {
  background-image: linear-gradient(
    -225deg,
    #66c2a5 0%,
    #fc8d62 29%,
    #8da0cb 67%,
    #e78ac3 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
